services:
  # default configuration for services in *this* file
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

  Oliverde8\PhpEtlBundle\:
    resource: '../../'
    exclude:
      - '../../DependencyInjection/'
      - '../..//Entity/'
      - '../../Tests/'

  # Register ETL operations separately with autowiring
  Oliverde8\PhpEtlBundle\Etl\Operation\:
    resource: '../../Etl/Operation/'
    autowire: true

  Oliverde8\PhpEtlBundle\Services\ChainWorkDirManager:
    class: Oliverde8\PhpEtlBundle\Services\ChainWorkDirManager
    arguments:
      $tmpBaseDir: "%oliverde8.php.etl.base_dir%"

  Oliverde8\Component\PhpEtl\ChainBuilder:
    autowire: true
    class: Oliverde8\Component\PhpEtl\ChainBuilder
    arguments:
      $contextFactory: "@Oliverde8\\PhpEtlBundle\\Services\\ExecutionContextFactory"

  Oliverde8\Component\PhpEtl\ChainBuilderV2:
      autowire: true
      class: Oliverde8\Component\PhpEtl\ChainBuilderV2
      arguments:
          $contextFactory: "@Oliverde8\\PhpEtlBundle\\Services\\ExecutionContextFactory"

  Oliverde8\Component\RuleEngine\RuleApplier:
    class: Oliverde8\Component\RuleEngine\RuleApplier
    arguments:
      $rules: [ ]
      $validate: true

  Oliverde8\PhpEtlBundle\Services\FileSystemFactoryInterface: '@Oliverde8\PhpEtlBundle\Services\FileSystemFactory'
  Oliverde8\PhpEtlBundle\Services\LoggerFactoryInterface: '@Oliverde8\PhpEtlBundle\Services\LoggerFactory'

